
button, .btn-primary {
    background-color: #2c3930 !important;
    color: white !important;
    padding: 10px 20px;
    border: 2px solid #2c3930 !important; 
    border-radius: 5px;
    cursor: pointer;
}

button:hover, .btn-primary:hover {
    background-color: #1e6434 !important;
    border: 2px solid #1e6434 !important;
}
a {
    color: #2c3930 !important;
}

a:hover {
    color: #228942 !important;
}
